@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Lexend+Giga:wght@500&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  main{
    position: absolute;
    top: 100px;
    height: 80vh;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 50px black;
    padding: 0 20px;
    overflow-y: scroll;
  }
  .nav h1{
    /* border: 2px solid black; */
    margin: 15px 0;
  }
  .top{
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
  }
  .todo-list-grid, .todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .todo-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
    padding-bottom: 10px;

  }
  
  .date-input, .name-input{
    font-size: 15px;
    padding: 6px;
  }
  
  .add-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .delete-todo-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width:520px) {
    main{
      position: absolute;
      top: 100px;
      width: 90vw;
      height: 80vh;
      /* border: 2px solid black; */
      box-shadow: 5px 5px 50px black;
      padding: 0 10px;
      overflow-y: scroll;
    }
    
  }@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Lexend+Giga:wght@500&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  main{
    position: absolute;
    top: 100px;
    height: 80vh;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 50px black;
    padding: 0 20px;
    overflow-y: scroll;
  }
  .nav h1{
    /* border: 2px solid black; */
    margin: 15px 0;
  }
  .top{
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
  }
  .todo-list-grid, .todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .todo-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
    padding-bottom: 10px;

  }
  
  .date-input, .name-input{
    font-size: 15px;
    padding: 6px;
  }
  
  .add-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .delete-todo-button {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (max-width:520px) {
    main{
      position: absolute;
      top: 100px;
      width: 90vw;
      height: 80vh;
      /* border: 2px solid black; */
      box-shadow: 5px 5px 50px black;
      padding: 0 10px;
      overflow-y: scroll;
    }
    
  }
